
version: "3.8"

services:
  redis:
    image: redis:alpine
    container_name: redis_container_1
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data
    env_file:
      - .env.local
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"

volumes:
  redis_data:
